/* Fixing the search box
-------------------------------------------------- */

div.ace_search_options {
  float: right;
}

button.ace_replacebtn {
  margin-left: -6px;
  font-size: 80%;
}

pre {
  background-color: #f9f2f4;
}

code {
  color: black;
  background-color: #f5f5f5;
}

/* Application CSS
-------------------------------------------------- */
